body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px; 
  margin: 0px;
}
.box-1,
.box-2,
.box-3,
.box-4 {
  /* padding: 0px 300px; */
}
text {
  margin: 2px 0px;
}
/* first main container */
.box-1,
footer {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.box-1 {
  height: 450px;
  padding: 0 10px;
}
h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0px;
}
.words p,
.links {
  font-size: 18px;
  color: #E5E7EB;
}
.words {
  flex: 1;
  margin-right: 24px;
}
.logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-top: 0px;
  flex: 1;
  margin-right: auto;
}
.links {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin-left: auto;
  gap: 20px;
}
.header {
  display: flex;
  align-items: baseline;
}
.image-placeholder {
  flex: 1;
  min-width: 200px;
  min-height: 100px;
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
}
.intro {
  display: flex;
  flex-direction: row;
  margin: auto 0px;
  justify-content: center;
  gap: 10px;
}
button {
  background-color: #3882F6;
  padding: 8px 12px;
  border-radius: 6px;
  color: #F9FAF8;
}

/* 2nd box */
.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;

}
.box-2-title {
  font-size: 36px;
  font-style: italic;
  font-weight: bolder;
  color: #1F2937;
}
.box-2 .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 20px 100px 10px;
  gap: 20px
}
.box-2 .container div {
  width: 148px;
  display: flex;
  flex-direction: column;
}
.image img,
.figure{
  background-color: #E5E7EB;
  border-radius: 40px;
  border-color: #3882F6;
  border-width: thick;
  border-style: dashed;
}

/* 3rd box */
.box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E7EB;
  height: 450px;
  align-items: center;
}
.inspiration {
  display: flex;
  flex-direction: column;
  gap: 0px
}
.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
  margin: 0px;
  text-align: center;
  width: 1000px;
}
.credit {
  margin: 0px;
  align-self: flex-end;
}

/* 4th box */
.box-4 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prompt {
  display: flex;
  background-color: #3882F6;
  border-radius: 2px;
  justify-content: space-evenly;
  align-items: center;
  height: 120px;
  color: #F9FAF8;
  width: 1000px;
}
.trigger {
  text-align: center;
  margin: 12px 18px;
}
.exit button{
  border-color: #5f97f3;
  border-width: medium;
  margin: 12px 18px;
}
footer {
  color: #F9FAF8;
  text-align: center;
}
