.box-1,
.box-2,
.box-3,
.box-4 {
  padding: 0px 120px;
}
.box-1,
footer {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}
.box-1 {
  height: 280px;
}
h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin: 0px;
}
.words p,
.links {
  font-size: 18px;
  color: #E5E7EB;
}
.words {
  margin-right: 24px;
}
.logo {
  font-size: 24px;
  color: #F9FAF8;
  margin-top: 0px;
}
.links {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin-left: auto;
  gap: 20px;
}
.header {
  display: flex;
  align-items: baseline;
}
.image-placeholder {
  flex: 1;
  display: flex;
  background-color: gray;
  align-items: center;
  justify-content: center;
}
.intro {
  display: flex;
  flex-direction: row;
  align-content: center;
}
button {
  background-color: #3882F6;
  padding: 8px 12px;
  border-radius: 6px;
}

/* 2nd box */
.box-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 480px;
  text-align: center;

}
.box-2-title {
  font-size: 36px;
  font-style: italic;
  font-weight: bolder;
  color: #1F2937;
}
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.container div {
  width: 148px;
  margin-right: 20px;
}
.image {
  display: flex;
  flex-direction: column;
  height: 148px;
  width: 148px;
  background-color: yellow;
  border-radius: 40px;
}

/* 3rd box */
.box-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E7EB;
  height: 450px;
}
.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
  margin: 0px;
  text-align: center;
}
.credit {
  margin: 0px;
  text-align: end;
}

/* 4th box */
.box-4 {
  display: flex;
  flex-direction: column;
}
.prompt {
  display: flex;
  background-color: #3882F6;
}